/* Schemes */

$schemes: (
  gray-red: (primary-color:#C23B22,secondary-color:#CFCFC4,box-border-color:#e5e5e5),
  gray-blue: (primary-color:#779ECB,secondary-color:#CFCFC4,box-border-color:#e5e5e5),
  blue-yellow-yellow:(primary-color:#FFB347,secondary-color:#AEC6CF,box-border-color:#AEC6CF),
  blue-red-red:(primary-color:#C23B22,secondary-color:#779ECB,box-border-color:#C23B22),
  purple-flirt:(primary-color:#A2006D,secondary-color:#B19CD9,box-border-color:#e5e5e5),
  blue-blue-blue:(primary-color:#AEC6CF,secondary-color:#AEC6CF,box-border-color:#AEC6CF),
  );

@each $scheme, $map in $schemes {
  .timeline.#{$scheme}::before {
    background-color: map-get($map,secondary-color);
  }
  .timeline.#{$scheme} .timeline-icon {
    border-color:map-get($map,primary-color);
    &.timeline-icon-text {
      span {
        border-color:map-get($map,box-border-color); 
      }
    }
  }
  .timeline.#{$scheme} .timeline-content {
    border-color:map-get($map,box-border-color);
  }
  .timeline.#{$scheme}.timeline-with-arrows {
    .timeline-content::before {
      border-left-color:map-get($map,box-border-color);
    }
    &.timeline-left {
      .timeline-content::before {
        border-right-color:map-get($map,box-border-color);
      }
    }
    &.timeline-alternating {
      .timeline-content::before {
        border-left-color:map-get($map,box-border-color);
      }
      .timeline-block:nth-of-type(2n) .timeline-content::before {
        border-right-color:map-get($map,box-border-color);
      }
    }
    &.timeline-collapsing {
      @media screen and (max-width:$width-small) {
        .timeline-content::before {
          border-right-color:map-get($map,box-border-color);
        }
      }
    }
  }
}