.well {
    background-color: #008999;
    color: #F7FFFF;
    height: 100%;
    width: 800px;
    opacity: 0.9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-buttons {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    color: black;
}

.pending-item:hover {
    color: darkslategrey;
}

.admin-title {
    align-self: center;
}