<div class="container">
    <div class="well">
        <h1>
            Admin Dashboard
        </h1>

        <div>
            Pending markers...
        </div>
        <div>
            Pending historys...
        </div>
        <div>
            Pending users...
            <ul>
                <li *ngFor="let user of pendingUsers">
                    <div>Username: {{user.username}}</div>
                    <div>Permission: {{user.permissionLevel}}</div>
                    <div>Approved: {{user.approved}}</div>
                    <div>Declined: {{user.declined}}</div>
                    <div>Created: {{user.created}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>