<nav class="navbar navbar-default">
    <div class="container-fluid router-header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">History of Wichita</a>
        </div>
        <ul class="nav navbar-nav">
            <li [routerLink]="['/map']"><a>Map</a></li>
            <li [routerLink]="['/resources']"><a>Resources</a></li>
            <li [routerLink]="['/resources']"><a>About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="hasAdminPermission()" [routerLink]="['/admin']"><a>Admin</a></li>
            <li [routerLink]="['/account']">
                <a *ngIf="!loggedIn">Login</a>
                <a *ngIf="loggedIn">Account</a>
            </li>
            <li *ngIf="loggedIn">
                <a (click)="logout()">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>