<!-- <nav class="navbar navbar-default">
    <div class="container-fluid router-header">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">History of Wichita</a>
        </div>
        <ul class="nav navbar-nav">
            <li [routerLink]="['/map']"><a>Map</a></li>
            <li [routerLink]="['/resources']"><a>Resources</a></li>
            <li [routerLink]="['/resources']"><a>About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="hasAdminPermission()" [routerLink]="['/admin']"><a>Admin</a></li>
            <li [routerLink]="['/account']">
                <a *ngIf="!loggedIn">Login</a>
                <a *ngIf="loggedIn">Account</a>
            </li>
            <li *ngIf="loggedIn">
                <a (click)="logout()">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-expand-xl navbar-light bg-primary">
    <a class="mr-5">History of Wichita</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/map']">Map
            <span class="sr-only">(current)</span>
        </a>
        <a class="nav-item nav-link" [routerLink]="['/resources']">Resources</a>
        <a class="nav-item nav-link" [routerLink]="['/resources']">About</a>
        <a class="nav-item nav-link" *ngIf="hasAdminPermission()" [routerLink]="['/admin']">Admin</a>
        <a class="nav-item nav-link" [routerLink]="['/account']">
            {{ loggedIn ? 'Account' : 'Login' }}
        </a>
        <a *ngIf="loggedIn" class="nav-item nav-link" (click)="logout()">Logout</a>

    </div>

</nav>