.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/*

.login-container form {
    width: 500px;
}

.login-container .well {
    width: 500px;
}

.new-user-button {
    margin-left: 10px;
    float: left;
}

.well {
    background-color: #008999;
    color: #F7FFFF;
    opacity: 0.9;
}

.info-container {
    justify-content: center;
    align-items: center;
    background: #008999;
    border-radius: 5%;
    padding: 20px;
    color: #F7FFFF;
}

h2 {
    text-decoration: underline;
}

.create-btn {
    margin: 10px;
    color: black;
}

input.error {
    border: 2px solid red; 
}

.password-error-msg {
    margin-left: 2px;
} */