.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.login-container form {
    width: 500px;
}

.new-user-button {
    margin-left: 10px;
    float: left;
}

.btn {
    background-color: #008999;
    color: #F7FFFF;
}

.well {
    background-color: #008999;
    color: #F7FFFF;
}