.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.login-container form {
    width: 500px;
}

.new-user-button {
    margin-left: 10px;
}