<p-growl [value]="msgs"></p-growl>

<div>
    <div class="container well" [ngClass]="{'hasCrosshair': gettingCoords}">
        <div class="map-container">
            <agm-map [latitude]="initialLat" [longitude]="initialLng" [streetViewControl]="false" [zoom]="zoomAmount" [disableDoubleClickZoom]="true" (mapClick)="mapClicked($event)" (mapRightClick)="mapRightClicked($event)" [draggableCursor]="cursorType">
                <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [title]="marker.title" [label]="marker.label" [iconUrl]="marker.iconUrl" (markerClick)="clickedMarker(marker)">
                </agm-marker>
            </agm-map>
        </div>
        <div>
            <button *ngIf="loggedIn" (click)="addMarker()" class="btn">Add Marker</button>
            <button *ngIf="this.auth.isEditor() || this.auth.isAdmin()" (click)="editMarker()" [disabled]="!isSelected" class="btn"> Edit Marker </button>
            <button *ngIf="this.auth.isAdmin()" (click)="deleteMarker()" [disabled]="!isSelected" class="btn"> Delete Marker </button>
            <span *ngIf="!loggedIn">You must be logged in to contribute. </span>
        </div>

    </div>

    <div #timeline class="container well">
        <app-timeline *ngIf="isSelected" [marker]="getCurrentMarker()"></app-timeline>
        <div *ngIf="!isSelected">
            <div>
                <h2>
                    Please select a map marker or add one to the map by clicking the "Add Marker" button below the map.
                </h2>
            </div>
        </div>
    </div>

    <p-dialog width="1000" height="800" header="Marker Form" modal="true" [(visible)]="isEditing">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <input [(ngModel)]="editingMarker.title" type="text" class="ui-grid-col-12" pInputText placeholder="New Title" required>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <input [(ngModel)]="editingMarker.street1" type="text" class="ui-grid-col-6" pInputText placeholder="Street1">
                    <input [(ngModel)]="editingMarker.street2" type="text" class="ui-grid-col-6" pInputText placeholder="Street2">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <input [(ngModel)]="editingMarker.lat" type="text" class="ui-grid-col-6" pInputText placeholder="Latitude" required>
                    <input [(ngModel)]="editingMarker.lng" type="text" class="ui-grid-col-6" pInputText placeholder="Longitude" required>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-12">
                    <input [(ngModel)]="editingMarker.label" type="text" class="ui-grid-col-12" pInputText placeholder="Label">
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    <button class="btn btn-primary" (click)=onSave()>Save</button>
                </div>
                <div class="ui-grid-col-2">
                    <button class="btn" (click)=cancel()>Cancel</button>
                </div>
            </div>
        </div>
    </p-dialog>

</div>