.map-container {
  height: 720px;
  margin-bottom: 10px;
}

.mapDiv {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-mobile {
  display: block;
  height: 800px;
}

.container {
  display: block;
  float: left;
  width: 49%;
  height: 800px;
  margin: 5px;
}

.timeline-container-mobile {
  height: 800px;
}

.timeline-container {
  display: inline-block;
  height: 800px;
  width: 49%;
  margin: 5px;
}

.marker-list {
  display: inline-block;
  width: 50%;
}

li:hover {
  background-color: lightgrey;
  cursor: pointer;
}

button {
  margin-bottom: 5px;
  color: black;
}

.crosshairs {
  cursor: crosshair;
}

.pointer {
  cursor: pointer;
}
