<div class="container well">
    <div>
        <sebm-google-map [latitude]="initialLat" [longitude]="initialLng" streetViewControl="false" [zoom]="zoomAmount" disableDoubleClickZoom="true" (mapClick)="mapClicked($event)">
            <sebm-google-map-marker *ngFor="let marker of markers" [latitude]="marker.Lat" [longitude]="marker.Lng" title="marker.Title" (markerClick)="clickedMarker(marker)"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
</div>

<div class="timeline-container well">
    <app-timeline></app-timeline>
</div>

<div>
    <div class="edit-form">
        <div>
            <button class="btn primary-btn" (click)="createMarker()">Add a Marker</button>
        </div>
        <div *ngIf="currentMarker || isEditing" class="form-group edit-form">
            <input #title type="text" class="form-control" placeholder="Title">
            <input #street1 type="text" class="form-control" placeholder="Street1">
            <input #street2 type="text" class="form-control" placeholder="Street2">
            <input #lat type="text" class="form-control" placeholder="Latitude">
            <input #lng type="text" class="form-control" placeholder="Longitude">
            <input #label type="text" class="form-control" placeholder="Label">
        </div>
    </div>
    <div class="marker-list">
        <div>
            <button class="btn primary-btn" (click)="deleteMarker()">Delete a Marker</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let marker of markers" (click)="onSelect(marker)">
                {{ marker.Title }}
            </li>
        </ul>
    </div>
</div>