.sebm-google-map-container {
    height: 760px;
}

.container {
    display: block;
    float: left;
    width: 45%;
    height: 800px;
    margin: 5px;
}

.timeline-container {
    display: inline-block;
    height: 800px;
    width: 45%;
    margin: 5px;
}

.marker-list {
    display: inline-block;
    width: 50%;
}

li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

button {
    margin-bottom: 5px;
}

.hasCrosshairs {
    cursor: crosshair;
}