.sebm-google-map-container {
    height: 560px;
}

.container {
    display: block;
    float: left;
    width: 50%;
    height: 600px;
}

.timeline-container {
    display: inline-block;
    height: 600px;
    width: 50%;
}

.edit-form {
    width: 50%;
    float: left;
}

.edit-form button {
    margin: 5px;
}

.edit-form input {
    margin: 3px;
}

.marker-list {
    display: inline-block;
    width: 50%;
}

li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

button {
    margin-bottom: 5px;
}

.hasCrosshairs {
    cursor: crosshair;
}