<div class="user-list">
    <div [ngClass]="{preloader: !isLoaded, loader: !isLoaded}">
    </div>
    <div class="scroller">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of data" [ngClass]="{ 'active': isActive(item), '': !isActive(item)}" (click)="onSelect(item)">{{item.Name}}</li>
        </ul>
    </div>
</div>
<div class="buttons">
    <button type="button" class="btn btn-primary" (click)="addRandomUser()">Add random user</button>
    <button type="button" class="btn btn-primary" (click)="addNewUser()">Add new user</button>
    <button [ngClass]="{disabled: currentUser === null}" type="button" class="btn btn-primary" (click)="deleteUser()">Delete user</button>
    <button [ngClass]="{disabled: currentUser === null}" type="button" class="btn btn-primary" (click)="showEdit = !showEdit">Edit user</button>
</div>
<div>
    <form *ngIf="showEdit" class="form">
        <div class="form-group row">
            <div class="col-md-8">
                <input #edit type="text" class="form-control" id="editName" placeholder="New Name" (keyup.enter)="onEditEnter(edit.value)">
            </div>
            <button type="button" class="btn btn-primary" (click)="onEditEnter(edit.value)">Save</button>
        </div>
    </form>
</div>