.no-history-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.timeline-wrapper-mobile {
    height: 650px;
    margin-bottom: 10px;
    color: black;
}

.timeline-wrapper {
    height: 720px;
    margin-bottom: 10px;
    color: black;
}

.timeline-block div:hover {
    cursor: pointer;
}

.history-form {
    margin-bottom: 20px;
}

.primefix {
    display: inline !important;
}

.selected {
    color: grey;
}

.timeline-header {
    text-align: center;
}

.upload-button {
    text-align: center;
    height: 1.5em;
}

.history-form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    div {
        padding: 0 10px;

        button {
            width: 200px;
        }
    }
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.ball-spin-fade-loader > div {
    background-color: #008999;
}