.no-history-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.timeline-container {
    height: 700px;
    margin-bottom: 10px;
    color: black;
}

.timeline-block div:hover {
    cursor: pointer;
}

.primefix {
    display: inline !important;
}

.selected {
    color: grey;
}

.timeline-header {
    text-align: center;
}