<div *ngIf="!hasHistory()" class="timeline timeline-alternating timeline-collapsing timeline-with-arrows">
    <div *ngFor="let history of historys" class="timeline-block">
        <div class="timeline-icon"><i style="color:#c23b22" class="fa fa-bell-o fa-lg"></i></div>
        <div class="timeline-content">
            <h2>{{history.title}}</h2>
            <p>{{history.content}}</p>
            <div class="timeline-date">{{history.date}}</div>
        </div>
    </div>
</div>
<div *ngIf="hasHistory()" class="no-history-container">
    <h1>
        No history found.
    </h1>
</div>