<div>
    <div class="timeline-container tl-container">
        <div *ngIf="this.historys.length > 0" class="timeline timeline-alternating timeline-collapsing timeline-with-arrows">
            <div *ngFor="let history of historys" class="timeline-block" [ngClass]="{selected: history == currentHistory}" (click)="onSelect(history)">
                <div class="timeline-icon"><i style="color:#c23b22" class="fa fa-lg"></i></div>
                <div class="timeline-content tl-content">
                    <h2 *ngIf="history.title != null">{{history.title}}</h2>
                    <div [innerHTML]="history.content">
                    </div>
                    <div class="timeline-date">{{history.date}}</div>
                </div>
            </div>
        </div>
        <div *ngIf="this.historys.length < 1" class="no-history-container">
            <h1>
                No history found.
            </h1>
        </div>
        <p-dialog width="1000" height="800" responsive="true" header="History Form" modal="true" [(visible)]="visible">
            <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <input [(ngModel)]="currentHistory.title" type="text" pInputText class="ui-grid-col-12" placeholder="Title">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <p-editor [(ngModel)]="currentHistory.content" [style]="{'height':'150px'}" placeholder="Content">
                        </p-editor>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <input [(ngModel)]="currentHistory.source" type="text" pInputText class="ui-grid-col-12" placeholder="Source">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-12">
                        <input [(ngModel)]="currentHistory.images" type="text" pInputText class="ui-grid-col-12" placeholder="Image Url">
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-6">
                        <div class="ui-grid-col-12">
                            <p-autoComplete [(ngModel)]="currentHistory.keywords" inputStyleClass="ui-grid-col-12" class="ui-grid-col-12" styleClass="ui-grid-col-12" [suggestions]="filteredKeywords" (completeMethod)="filterKeywordsEvent($event)" [minLength]="2" placeholder="Keyword"></p-autoComplete>
                        </div>
                    </div>
                    <div class="ui-grid-col-6">
                        <div class="ui-grid-col-2">
                            Date:
                        </div>
                        <div class="ui-grid-col-10">
                            <p-inputMask styleClass="ui-grid-col-12" [(ngModel)]="currentHistory.date" mask="99/99/9999" placeholder="mm/dd/yyyy"></p-inputMask>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-row">
                    <div class="ui-grid-col-2">
                        <button class="btn btn-primary ui-grid-col-12" (click)=onSave()>Save</button>
                    </div>
                    <div class="ui-grid-col-2">
                        <button class="btn ui-grid-col-12" (click)=onCancel()>Cancel</button>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
    <button class="btn" (click)="addHistory()"> Add history </button>
    <button class="btn" [disabled]="!this.currentHistory.created" (click)="editHistory()"> Edit History </button>
    <button *ngIf="isLocal()" class="btn" [disabled]="!this.currentHistory.created" (click)="deleteHistory()"> Delete History </button>
</div>